* {
  box-sizing: border-box;
}

a {
  color: inherit;
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    color: lighten($color: black, $amount: 50%);
  }
}

h1 {
  font-family: "Roboto-bold";
  font-size: 2rem;
}

.container {
  width: 1440px;
  border: black solid 1px;
  margin: auto;
  padding-left: 80px;
  padding-right: 80px;
}

body {
  width: 100%;
  margin: 0;
}

.headSection {
  background-image: url("../../public/img/road_at_night.jfif");
  background-size: cover;
  height: 620px;
  &__text {
    height: 220px;
    width: 775px;
    position: relative;
    top: 250px;
    background-color: $colour-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 170px;
    padding-left: 50px;
    p {
      width: 420px;
      font-size: 1rem;
    }
  }
}

.columns {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  &__firstColumn {
    margin-right: 45px;
    > img {
      object-fit: cover;
      width: 380px;
      height: 490px;
    }
    .text {
      margin-top: 60px;
    }
    .line {
      display: flex;
      .number {
        font-family: "Roboto-Black";
        font-size: 5rem;
        margin: 0;
        margin-right: 15px;
      }
      .info {
        p {
          font-size: 1rem;
          position: relative;
          top: 40%;
          font-family: "Roboto-Bold";
          margin: 0;
        }
      }
    }
  }
  &__secondColumn {
    width: 450px;
    margin-left: 45px;
    margin-top: 40px;
    p {
      font-family: "Roboto-thin";
      font-size: 1rem;
      line-height: 1.6rem;
      margin-block-end: 0;
      margin-block-start: 0;
      margin-bottom: 60px;
    }
  }
}
.contactline {
  font-family: "Roboto-black";
  font-size: 1.4rem;
  width: 1000px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 120px;
}
