@font-face {
  font-family: "Roboto-thin";
  src: url("../../public/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-regular";
  src: url("../../public/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-bold";
  src: url("../../public/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-black";
  src: url("../../public/fonts/Roboto-Black.ttf");
}
